html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}
.footer {
    background-color:#222222;
}
.footer, .push {
    height: 80px; /* .push must be the same height as .footer */
}
.content li { display: none; }
.content li.active { display: block; }
.overview-panel {
    height:350px;
}