<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
  <meta charset="utf-8">
  <!-- Fit multiple devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Tab title -->
  <title>DLR - Design Learning Repository</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

  <!-- Used to handle older browser versions -->
  <script src="{% static 'js/modernizr.js' %}"></script>
</head>
<body>
<!-- Navigation -->
  <nav class="top-bar" data-topbar data-options="is_hover: false">
    <ul class="title-area">
      <li class="name"><h1><a href="/">DLR</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
    <!-- Right Nav Section -->
      <ul class="right">
	   <li><a href="/">Return to Overview</a></li>
        <li class="has-dropdown">
          <a href="#">Sign up</a>
            <ul class="dropdown">
               <li><a href="/instructor-registration">Instructors Start Here!</a></li>
               <li><a href="/student-registration">Students Start Here!</a></li>
            </ul>
        </li>
	   <li><a href="/login">Login</a></li>
      </ul>
    </section>
  </nav>
  <div class="wrapper">
    {% block body_block %}{% endblock %}
    <div class="push"></div>
  </div>
  <div class="footer">
    <div class="row">
      <p style="color:white;">&copy; Northern Arizona University 2013</p>
    </div>
  </div>
  <!-- Javascript -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <script type="text/javascript">
    $(document).foundation();
  </script>
  {% block additional_javascript %}{% endblock %}
</body>
</html>