{% extends 'registration_login/Base.html' %}

{% block body_block %}
    <div class="container">
        <form method="post">
        {% csrf_token %}
            <div class="row" style="text-align:center;">
                <div class="small-8 small-offset-2 large-6 large-offset-3 columns">
                    {% if message %}
                        <p style="color:red;font-size:20px;"> {{messageContents}} </p>
                    {% endif %}
                    <h1>Recover Your Password</h1>
                    <p>To reset your password, first enter the username associated with your account below. If you can't remember your username, please contact an administrator.</p>
                    <input type="text" placeholder="username" name="username" value="{{username}}" required/>
                    <input type="submit" class="button" value="Submit">
                </div>
            </div>
        </form>
    </div>
{% endblock %}