{% extends 'registration_login/Base.html' %}

{% block body_block %}
  <div class="container">
    <form method="post">
    {% csrf_token %}
      <div class="row" style="text-align:center;">
	    <div class="small-8 small-offset-2 large-4 large-offset-4 columns">
          {% if message %}
            <p style="color:red;font-size:20px;"> {{messageContents}} </p>
          {% endif %}
          <h1>Please Sign In</h1>
	      <input type="text" placeholder="Username" name="username" value="{{username}}" required/>
	      <input type="password" placeholder="Password" name="pwd" value="{{pwd}}" required/>
	      <a href="/forgot-password">Forgot your password?</a></br></br>
 	      <input type="submit" class="button" value="Login">
	    </div>
      </div>
    </form>
  </div>
{% endblock %}

