<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Fit multiple devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Tab title -->
  <title>DLR - Design Learning Repository</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalization.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

  <!-- Used to handle older browser versions -->
  <script src="{% static 'js/respond.js' %}"></script>
</head>
<body>
<!-- Navigation -->
  <nav class="top-bar" data-topbar data-options="is_hover: false"> 
    <ul class="title-area"> 
      <li class="name"><h1><a href="/">DLR</a></h1></li> 
      <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul> 
    <section class="top-bar-section"> 
    <!-- Right Nav Section --> 
      <ul class="right">
	<li><a href="/">Return to Overview</a></li>  
        <li class="has-dropdown">
          <a href="#">Sign up</a> 
            <ul class="dropdown"> 
               <li><a href="/instructor-registration">Instructors Start Here!</a></li>
               <li><a href="/student-registration">Students Start Here!</a></li> 
            </ul> 
        </li>
	<li><a href="/login">Login</a></li> 
      </ul> 
    </section> 
  </nav>
 <div class="wrapper">
  <div class="container" style="text-align:center;">
    <h1>Password Reset Successful!</h1>
    <p>An email has been sent containing a temporary password. Upon logging in, you may want to go to your profile and change your password to something that will be easier for you to remember.</p>
    <a href="/" class="button">Return to overview</a>
  </div>
  <div class="push"></div>
 </div>
 <div class="footer">
   <div class="row">
     <p style="color:white;">&copy; Northern Arizona University 2013</p>
   </div>
 </div>
 <!-- Javascript -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/foundation.min.js' %}"></script>
  <script type="text/javascript">
    $(document).foundation();
  </script>
</body>
</html>
