{% extends 'registration_login/Base.html' %}
{% load staticfiles %}

{% block body_block %}
 <div class="container" style="text-align:center;">
  <h1>Student Registration</h1>
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="small-12 large-8 large-offset-2 columns" style="text-align:center;">
      <div class="panel">
        <fieldset>
          <legend>User Information</legend>
          <input type="text" placeholder="First Name" name="firstname" value="{{firstName}}" required autofocus/><br/>
          <input type="text" placeholder="Last Name" name="lastname" value="{{lastName}}" required/><br/>
          <input type="text" placeholder="Email" name="email" value="{{email}}" required/><br/>
	        <select name="institutionID">
	         {% for entry in institutions %}
	           <option value="{{entry.id}}">{{ entry.name }}</option>
	         {% endfor %}
          </select>
        </fieldset>
        <fieldset>
	       <legend>Account Information</legend>
  	       {% if message %}
	           <h4 style="color:red;">{{messageContents}}</h4>
	         {% endif %}
            <input type="text" placeholder="Username" name="username" value="{{username}}" required/><br/>
            <input type="password" id="pw1" onkeyup="checkPassword(); return false" placeholder="Password" name="pwd" value="{{pwd}}" required/><br/>
	           <h4>Re-enter password:</h4>
            <input class="error" type="password" id="pw2" onkeyup="checkPassword(); return false" placeholder="Password" required/> 
	         <small class="error" id="confirmMessage" style="background-color:#c60f13;">Passwords do not match!</small>
	         <label>Select a security question for use in password recovery</label> 
	         <select name="questionID">
         		{% for question in securityQuestions %}
         			<option value="{{question.0}}">{{question.1}}</option>
         		{% endfor %}
	         </select ><br/><br/>
	         <label>Provide an an answer for the security question above</label>
	         <input type="text" placeholder="Answer" name="answer" value="{{answer}}" required/>
	       </fieldset><br/>
         <label for="reseachApproval">I give permission to use the materials that I submit for research in order to improve the processes and experiences for future students</label>
         <input id="researchApproval" name="research" value="{{research}}" type="checkbox">
      </div> 
      </div>
    </div>
    <input class="button" type="submit" id="registerButton" value="Register" disabled style="width:250px"/>   
  </form>
 </div>
{% endblock %}

{% block additional_javascript %}
  <script src="{% static 'js/password.js' %}"></script>
{% endblock %}
